<div class="row">
	<div class="two columns"></div>
	<div class="eight columns">

		<h1>Welcome</h1>
		<!-- <p>
		<%= link_to "Connect With Facebook", "/auth/facebook", {:class=>"nice radius blue button"} %>
		</p>
		<p>
		Or
		</p>

		<%#= form_for(@user) do |f| %>
			<input name="username" placeholder="username" required />
			<input type="password" name="password" placeholder="password" required />
			<button type="submit">Login</button>
		<%# end %>
		<%= link_to "Sign Up", "/signup" %> -->


	</div>
	<div class="two columns"></div>
</div>
